/* 
Colors:
#8ECAE6
#219EBC
#023047
#FFB703
#FB8500
*/

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 100px auto 0;
  gap: 20px;
  /* background-color: pink; */
  padding: 16px;
}

.to-do-card {
  background-color: #ffb703;
  padding: 20px;
  width: 50%;
  margin: 20px auto;
}

ul {
  display: flex;
  align-items: center;
}

.remove-button {
  border: none;
  font-size: 16px;
  padding: 10px;
  background-color: #8ecae6;
  margin-left: auto;
}
