/* 
Colors:
#f72585
#7209b7
#3a0ca3
#4361ee
#4cc9f0
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* //////////////////////////////////////////////////////////////// */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
}

nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 52px;
  height: 100vh;

  /* ********************* */
  background: hsla(333, 93%, 56%, 1);

  background: linear-gradient(
    135deg,
    hsla(333, 93%, 56%, 1) 0%,
    hsla(258, 86%, 34%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(333, 93%, 56%, 1) 0%,
    hsla(258, 86%, 34%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(333, 93%, 56%, 1) 0%,
    hsla(258, 86%, 34%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F72585", endColorstr="#3A0CA3", GradientType=1 );
}

.project-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 100px 150px;
  gap: 32px;
}

form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2rem;
  color: white;
}

.form-element {
  width: 80%;
  border-radius: 10px;
  box-shadow: none;
  border: none;
}

.text-input {
  font-size: 1.2rem;
  padding: 8px;
}

select {
  font-size: 1.2rem;
  padding: 8px;
}

button {
  font-size: 1.2rem;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.to-do-card {
  background-color: #4361ee;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

ul {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.remove-button {
  border: none;
  font-size: 16px;
  padding: 10px;
  background-color: #3a0ca3;
  color: white;

  margin-left: auto;
}
